<%- include('../partials/_html-head.ejs', {title: 'All Destinations' }) %>
    <%- include('../partials/_nav-bar.ejs') %>

        <main>
            <h1>Here's all the Destinations!</h1>

                <% allDestinations.forEach(destination=> { %>
                    <article>
                    <a href="/destinations/<%= destination._id %>">
                    <h3> <%= destination.country %> </h3>
                    </a>
                    <a href="/destinations/<%= destination._id %>/notes">
                    View Destination Notes
                    </a>
               
                </article>

                    <% }) %>
            </a>
        <a href="/destinations/new">Add a new destination </a> 
         
        
        </main>
        </body>

        </html>