<%- include('../partials/_html-head.ejs', {title: "destination.country" }) %>
    <%- include('../partials/_nav-bar.ejs') %>



    <body>
    <main class="show-page-main">

        <header class="header=show">
            <div class="header-top">
            <h1 class="country-name"><%= destination.country %></h1>
            <a href="/destinations/<%= destination._id %>/notes/new" class="add-note-btn">add new note</a>
            </div>
            <div class="header-content">
            <img src="<%= destination.image %>" alt="<%= destination.country %> image"/>
            <p><%= destination.description %></p>
            </div>

            
       
        </header>
            <section>
                <ul class="list-thing">
                
                <% destination.notes.forEach(note=> { %>
                 <li>

                <figure>
                <% if (note.image) { %>
                <figcaption class="caption">
                <strong> <%= note.name %></strong> shared a note from <strong> <%= note.city %></strong>
                </figcaption>
                <img src="<%= note.image %>" alt="Photo of <%= note.city %>"
                 style="max-width: 300px;">
                <% } %>
                    
                </figure>
                    
                 <p><%= note.destinationNotes %></p>
                    
                <div class="note-buttons">
                 <% if(note.userHasFavorited) { %>
                 <!-- <p> You liked this note!</p> -->
                <form action="/destinations/<%= destination._id %>/notes/<%= note._id %>/favorited-by/<%= user._id %>?_method=DELETE" method="POST" style="display:inline">
                <button class="favorite-btn" type="submit">❤️</button>
                </form>
                <% } else { %>
               <!-- <p> like this note!</p>  -->
                <form action="/destinations/<%= destination._id %>/notes/<%= note._id %>/favorited-by/<%= user._id %>" method="POST" style="display:inline">
                <button class="unfavorite-btn" type="submit">🤍</button>
                </form>
                <% } %>

                <% if (note.authorId == user._id) { %>
                 <form action="/destinations/<%= destination._id %>/notes/<%= note._id %>/edit">
                <button class="edit" type="submit">edit</button>
                </form>

                <form action="/destinations/<%= destination._id %>/notes/<%= note._id %>?_method=DELETE" method="POST">
                <button class="delete" type="submit">delete</button>
                </form>
                </div>   
                </li>
                <% } %>
                 <% }) %>
                    
                 </ul>
            </section>

            </main>
        </body>

        </html>