<%- include('../partials/_html-head.ejs', {title: 'Destinations' }) %>
<%- include('../partials/_nav-bar.ejs') %>



        <body>
            <h1>
                <%= destination.country %>
            </h1>
           <img src="<%= destination.image %>">
            <article>
                <a href="/destinations/<%= destination._id %>/notes/new">Add a new note</a>
            </article>
        </body>

        </html>